{% extends 'bootstrap/base.html' %}
{% import 'macros.html' as macro %}
{% block navbar %}
{% include 'navbar.html'%}
{% endblock %}

  {% block content %}
    <div class="container">
      <h3 style="color: rgb(128, 0, 43);text-align: center"><strong>BLOGS</strong></h3>
      <br>
      <ul class="nav nav-pills nav-justified nav-fill" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#product">Blog</a>
        </li>
      
      <div class="tab-content">
        <div id="product" class="container tab-pane active"><br>
          {{ macro.display(productpitch) }}
          
        </div>
        
        
      </div>
    </div>
  {% endblock %}